/* Element */
h1{

    font-family: 'Titan One', cursive;
    /* font-family: */

}

h2{

    font-family: 'Dekko', cursive;
}

a{
    color: black;
}



/* Class */

.greetings{
    text-align: right;
    align-self: center;
    color: black;
    
    
}

/* .topHeadBg{
    background-image: url(resources/top2.jpg);
    background-attachment: fixed;
} */

.firstPart{
    padding-top: 35vh;
    margin-bottom: 0;  
    padding-bottom: 35vh;  


}
.secondPart{
    background-color:#FFF4F4;


}
.aboutMe{
    text-align: center;

}

.aboutMeSentence1{
    text-align: left;
    align-self: center;
}

.aboutMeSentence2{
    text-align: right;
    align-self: center;
    margin-top: 0;
}

.firstBg{
    background-color: white;
    background-attachment: fixed;
    background-size: cover;
    margin-top: 0;
}

.footer{
    background-color: #F1C376;
    padding-top: 5rem;
    color: black;
    margin-top: 10vh;
}
.contactMe{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.history{
    text-align: center;
}

/* THIS IS THE NAV */
.myName{

    color: black;
    font-family: 'Major Mono Display', monospace; 
    margin-left: 1vh;
    padding-top: 3vh;
}
.myNav{
    position: fixed;
    width: 100%;
    padding-left: 7%;
    height: 13%;
    width: 100%;
    background-color: #ffffff;
    z-index: 1;
}

.socialMedia{
    margin-left: 1vh;
    position: fixed;
    top: 36%;
    left: 0%;
    z-index: 2;
    background-color: whitesmoke;
    border-radius: 15px;
}
.listSocials{

    padding-left: 0;
    display: grid;
}
.education{
    text-align: right;
}
.experience{
    text-align: left;
    border-left-style:solid;
    border-color: gray;
    border-width: 1px;

}
.footerSocials{

}

/* ID */
#profile{
    width: 40vh;
    height: 40vh;
    border-radius: 50%;
}
#myPicture1{
    width: 30vh;
    height: auto;
    transform: rotate(-10deg);
}

#myPicture2{
    width: 30vh;
    height: auto;
    transform: rotate(10deg);
}

@media only screen and (max-width: 766px) {
    .greetings {
      order: 2;
    }
    .profile {
        order: 1;
        text-align: center;
      }
  }